<mat-card [@moltenAnimation]>
    <mat-card-content>
        <mat-card-title>
            Agregar Usuario
        </mat-card-title>
        <mat-card-subtitle class="obligatorio">
            * Campos obligatorios
        </mat-card-subtitle>
        <form [formGroup]="formCreate" (ngSubmit)="onSubmit()">
            <div fxLayout="row wrap">
                <div class="p-10" fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="*Correo electrónico" [formControl]="formCreate.controls['correo']" (paste)="onEmailPaste()" autocomplete="off">
                    </mat-form-field>
                    <mat-hint *ngIf="formCreate.controls['correo'].hasError('required') && formCreate.controls['correo'].touched" class="text-danger font-14">
                        <div class="error">Por favor, ingrese el correo.</div>
                    </mat-hint>
                    <mat-hint *ngIf="formCreate.controls['correo'].errors?.email && formCreate.controls['correo'].touched" class="text-danger font-14">
                        <div class="error">Por favor, ingrese el correo correctamente.</div>
                    </mat-hint>
                    <mat-hint *ngIf="formCreate.controls['correo'].hasError('existsUser') && formCreate.controls['correo'].touched" class="text-danger font-14">
                        <div class="error">El usuario ya se encuentra registrado.</div>
                    </mat-hint>
                </div>
                <div class="p-10" fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="*Nombre" [formControl]="formCreate.controls['nombre']" class="capitalize" autocomplete="off">
                    </mat-form-field>
                    <mat-hint *ngIf="formCreate.controls['nombre'].hasError('required') && formCreate.controls['nombre'].touched" class="text-danger font-14">
                        <div class="error">Por favor, ingrese el nombre.</div>
                    </mat-hint>
                    <mat-hint *ngIf="(formCreate.controls['nombre'].hasError('minlength') || formCreate.controls['nombre'].hasError('personname')) && formCreate.controls['nombre'].touched" class="text-danger font-14">
                        <div class="error">Por favor, ingrese el nombre correctamente.</div>
                    </mat-hint>
                </div>
                <div class="p-10" fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="*Apellido Paterno" [formControl]="formCreate.controls['paterno']" class="capitalize" autocomplete="off">
                    </mat-form-field>
                    <mat-hint *ngIf="formCreate.controls['paterno'].hasError('required') && formCreate.controls['paterno'].touched" class="text-danger font-14">
                        <div class="error">Por favor, ingrese el apellido paterno.</div>
                    </mat-hint>
                    <mat-hint *ngIf="(formCreate.controls['paterno'].hasError('minlength') || formCreate.controls['paterno'].hasError('personname')) && formCreate.controls['paterno'].touched" class="text-danger font-14">
                        <div class="error">Por favor, ingrese el apellido paterno correctamente.</div>
                    </mat-hint>
                </div>
                <div class="p-10" fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="*Apellido Materno" [formControl]="formCreate.controls['materno']" class="capitalize" autocomplete="off">
                    </mat-form-field>
                    <mat-hint *ngIf="formCreate.controls['materno'].hasError('required') && formCreate.controls['materno'].touched" class="text-danger font-14">
                        <div class="error">Por favor, ingrese el apellido materno.</div>
                    </mat-hint>
                    <mat-hint *ngIf="(formCreate.controls['materno'].hasError('minlength') || formCreate.controls['materno'].hasError('personname')) && formCreate.controls['materno'].touched" class="text-danger font-14">
                        <div class="error">Por favor, ingrese el apellido materno correctamente.</div>
                    </mat-hint>
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <mat-select placeholder="*Tipo de Usuario" [formControl]="formCreate.controls['tipo_usuario']">
                            <mat-option *ngFor="let tipo of tiposUsuarios" [value]="tipo.id">
                                {{tipo.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-hint *ngIf="formCreate.controls['tipo_usuario'].hasError('required') && formCreate.controls['tipo_usuario'].touched" class="text-danger font-14">
                        <div class="error">Por favor, seleccione el tipo de usuario.</div>
                    </mat-hint>
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <mat-select placeholder="*Tipo de Cliente" [formControl]="formCreate.controls['tipo_cliente']">
                            <mat-option *ngFor="let tipo of tiposClientes" [value]="tipo.id">
                                {{tipo.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-hint *ngIf="formCreate.controls['tipo_cliente'].hasError('required') && formCreate.controls['tipo_cliente'].touched" class="text-danger font-14">
                        <div class="error">Por favor, seleccione el tipo de cliente.</div>
                    </mat-hint>
                </div>
            </div>
            <hr>
            <mat-card-actions>
                <a fxFlex="40" fxFlex.gt-sm="15" mat-raised-button color="warn" class="mat-elevation-z4" routerLink="/usuarios">
                    <mat-icon class="horizontal-menu-icon">
                        undo
                    </mat-icon>
                    Volver
                </a>
                <button fxFlex="40" fxFlex.gt-sm="15" mat-raised-button color="primary" class="mat-elevation-z4" type="submit" [disabled]="!formCreate.valid">
                    <mat-icon class="horizontal-menu-icon">
                        save
                    </mat-icon>
                    Guardar
                </button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>